.btn{ 
  background-color: black;
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 20px;
  margin-left: 20px;
}


.btn{
    transition-duration: 0.4s;
  }
  
.btn:hover{
    background-color: rgb(27, 27, 136);
    color: white;
  }


.links{
    display: inline-block;
    padding-right: 20px;
}

.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    25% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    25% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     25% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

  .bkg{
    background-image: url('../../images/bk4.jpg');
    background-size: cover;
  }