@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700|Poppins:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

.body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
}

.contactme {
  background-color: rgb(255, 255, 255);
}

.contactOverlay {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 10%;
  background-color: rgba(230, 230, 230, 0.921);
}

.container {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contForm {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 20px;
}

.formWord {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 4%;
}

.form button {
  width: 190px;
  height: 55px;
  border: 0;
  border-radius: 5px;
  background-color: #002427;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: white;
  font-weight: bold;
  margin-top: 20%;
  cursor: pointer;
  font-size: calc(1em + 0.4vw);
}

.form button:hover {
  background-color: unset;
  border: 2px solid #e49504;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: black;
}

@media (max-width: 1000px) {
  .contForm {
    flex-direction: column;
  }

  .formWord,
  .formWords {
    width: 80%;
    margin: auto;
  }
}

.formWord h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 5%;
}
