.cont {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* background-color: #1a2537; */
    width: 100vw;
    height: 100vh;
    padding-top: 8%;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: rgb(255, 255, 255);
    /* margin-top: 150px; */
    padding: 3px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

.input {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
    width: 100%;
}

.inputContenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: black;
    font-size: 20px;
    background: rgb(42, 93, 233);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    transition: .4s;
}

.button:hover {
    background: rgb(50, 79, 238);
    opacity: .8;
}

.button_google {
    border: none;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background: rgb(248, 248, 248);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 3px;
    border: 1px solid #aaa;
    transition: .4s;
}

.button_google:hover {
    background: rgb(255, 0, 0);
    color: white;
    opacity: .8;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

.or {
    display: flex;
    justify-content: center;
    margin: 10px;

}

.errors {
    color: red;
} /*EL BACK ESTUVO AQUI*/
.img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        /* margin-top: 150px; */
        border-radius: 2%;

    }
}