.body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      height: 91vh;
      align-items: center;
      justify-content: center; 
      /* background-color: red; */
  }

  * {
      box-sizing: border-box;
  }

  .contenedor {
      width: 100%;
      padding: 15px;
      /* background-color: greenyellow; */
  }

  .formulario {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(255, 255, 255);
      padding: 3px;
      border-radius: 2%;
      /* background-color: blue; */
  }

  h1 {
      text-align: center;
      color: #1a2537;
      font-size: 40px;
  }

  .input {
      font-size: 20px;
      width: 100%;
      padding: 10px;
      border: none;
  }

  .inputcontenedor {
      margin-bottom: 15px;
      border: 1px solid #aaa;
  }

  .icon {
      min-width: 50px;
      text-align: center;
      color: #999;
  }

  /* .button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
} */
  .button {
      border: none;
      width: 100%;
      color: black;
      font-size: 20px;
      background: rgb(42, 93, 233);
      padding: 15px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 3px;
      border: 1px solid #aaa;
      transition: .4s;
  }

  .button:hover {
      background: rgb(50, 79, 238);
      color: black;
      opacity: .8;
  }

  p {
      text-align: center;
  }

  .link {
      text-decoration: none;
      color: #1a2537;
      font-weight: 600;
      cursor: pointer;
  }

  .link:hover {
      color: cadetblue;
      cursor: pointer;
  }


  hr {
      display: flex;
      justify-content: center;
      margin: 25px 0;
      color: rgb(128, 128, 128);

  }

  .button_google {
      border: none;
      width: 100%;
      color: rgb(0, 0, 0);
      font-size: 20px;
      background: rgb(255, 255, 255);
      padding: 15px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 3px;
      border: 1px solid #aaa;
      transition: .4s;
  }

  .button_google:hover {
      background: rgb(252, 0, 0);
      color: white;
      opacity: .8;
  }

  .errors {
      color: red;
  } /*EL BACK ESTUVO AQUI*/

  @media(max-width:768px) {
      .formulario {
          margin: auto;
          width: 500px;
          margin-top: 60px;
          border-radius: 2%;
      }
  }